<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des enclos</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Capacité</th>
                    <th>Chalets</th>
                    <th>Animaux</th>
                    <th>Intêrets</th>
                </tr>
            </thead>

            <!-- <tbody>
                <tr *ngFor="let four of list()">
                    <td>{{four.id}}</td>
                    <td>{{four.nom}}</td>
                    <td>{{four.adresse}}</td>
                    <td>{{four.responsable}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(four.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="remove(four.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody> -->

        </table>
    </div>
