<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>

<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des enclos</h2>
    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Capacité</th>
                    <th>Type</th>
                    <th>Chalet</th>
                    <th>Animaux</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let enc of list()">
                    <td>{{enc.id}}</td>
                    <td>{{enc.capacite}}</td>
                    <td>{{enc.type}}</td>
                    <td><span *ngFor="let chal of enc.chalets">{{chal.numero}} </span></td>
                    <td><span *ngFor="let anim of list2(enc)"><ul>{{anim.espece?.nom}}</ul></span></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="style_zoo_projet_button" (click)="edit(enc.id)">Editer</a>
                            <a class="style_zoo_projet_button" (click)="remove(enc.id)">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <a class="style_zoo_projet_button" (click)="add()">Ajouter un enclos</a>
    </div>
</div>


    <div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
        <form (ngSubmit)="save()" [formGroup]="enclosForm">
            <h3 class="style_zoo_projet_h3">Edition d'un enclos</h3>
        <div class="card-body">
            <div class="form-group">
                <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
            </div>
            <div class="form-group">
                <label for="capacite">Capacité:</label> <input type="text" class="form-control" id="capacite" name="capacite" formControlName="capacite"/>
                <!-- <div *ngIf="enclosForm.get('nom')?.hasError('required') && enclosForm.get('nom')?.dirty" class="form-group">
                    Le nom d'utilisateur est obligatoire
                </div> -->
            </div>
            <div class="form-group">
                <label for="idChalet">Type:</label> <select type="text" class="form-control" id="type" name="type" formControlName="type">
                    <option>Selectionner un type</option>
                    <option>aquarium</option> 
                </select>
                <!-- <div *ngIf="enclosForm.get('adresse')?.hasError('required') && enclosForm.get('adresse')?.touched">
                    L'adresse mail est obligatoire 
                    </div>
                    <div *ngIf="enclosForm.get('adresse')?.hasError('pattern')" class="form-group">
                    L'adresse mail n'est pas au bon format
                    </div> -->
            </div>
            
        
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="submit" class="style_zoo_projet_button">Valider</button>
                <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
            </div>
        </div>
        </form>
    </div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>