<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>
<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des espèces</h2>
    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Animaux</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let esp of list()">
                    <td>{{ esp.id }}</td>
                    <td>{{ esp.nom }}</td>
                    <td><span *ngFor="let anim of esp.animaux"><ul>{{anim.nom}}</ul></span></td>
                    
                    <!-- <td>{{ esp.animaux.id }}</td> -->
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="style_zoo_projet_button" (click)="edit(esp.id)">Editer</a>
                            <a class="style_zoo_projet_button" (click)="remove(esp.id)">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="style_zoo_projet_button" (click)="add()">Ajouter un enclos</a>
    </div>
</div>

<div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="especeForm">
    <input type="hiden" class="style_zoo_projet_input_hidden" id="id" name="id" readonly formControlName="id"/>
    <h3 class="style_zoo_projet_h3">Edition d'une espèce</h3>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id" />
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" formControlName="nom" />
        </div>
            <!--<div class="form-group">
                <label for="idanimaux">Animaux:</label> j'ai supprimé ça parce que l'ajout de l'animal il sera géré côté animal, quand 
                on ajoute un animal, il sera ajouté automatiquement dans espece
                <input type="number" class="form-control" id="idAnimaux" name="idAnimaux" formControlName="idAnimaux" />
            <ul><span *ngFor="let anim of especeForm.get('nomAnimaux').value.split(','); let i = index">{{ anim.nom }}</span></ul>
            </div>-->
            <!--<div class="form-group">
            <label for="fournisseur">Fournisseur:</label> 
            <select class="form-control" id="fournisseur" name="fournisseur" [(ngModel)]="produitForm.fournisseur.id">
                <option *ngFor="let four of listFournisseur()" [value]="four.id">{{four.nom}}</option>
            </select>
        </div>-->
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="style_zoo_projet_button" (click)="save()">Valider</a>
            <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
        </div>
    </div>
    </form>
</div>
</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>