<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Logement</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

  <main>
   

    <div class="logement-utilisateur-section1"><h2>Quels sont les services inclus à votre réservation ?</h2></div>
<div class="info-logement">
    <div class="mise-en-forme-info"><img src="/assets/img/randonnée.png" width="99.966px;"><p> Si vous êtes passionné de randonnée, vous allez adorer nos sentiers balisés, adaptés à tous types de marcheurs.</p>
        <p>Vous pourrez vous élever au-dessus des nuages et admirer la beauté de la nature depuis les sommets.</p></div>
    <div class="mise-en-forme-info"><img  src="/assets/img/WIFI.png" width="140px;"><p> Vous pourrez profiter d’une connexion wifi gratuite dans tous nos logis, pour vous offrir un moment de détente bien mérité devant vos séries préférées.</p></div>
    <div class="mise-en-forme-info"><img src="/assets/img/animal.png" width="140px;"><p>Grâce à votre réservation, vous aurez accès aux enclos des animaux sauvages 24h/24. Vous pourrez vous approcher au plus près des loups, des tigres et des autres animaux. Vous disposerez également de jumelles avec un mode nocturne pour les observer de nuit.</p></div>
</div>


<h3 class="mini-titre">Pour 2 personnes</h3>
<div class="centrer">
    
    <div class="logement-utilisateur-section1">
      
      <img src="/assets/img/TinyHouse3.svg" alt="Description de l'image"> 
      <p>Le Cabanon des amoureux</p> 
      <p>2 PERSONNES · Tiny House</p>
      <img src="/assets/img/raquette.png" width="140px;">
      <img src="/assets/img/Logojaccuzzi.png" width="140px;">
      <img src="/assets/img/quad.png" width="140px;">
      <img src="/assets/img/boutonReserver.svg" alt="boutonReserver">
        </div>
    
  </div>
  
<h3 class="mini-titre">Pour 4 à 6 personnes </h3>
    <div class="centrer">
       <div class="div-gauche">  
        <img src="/assets/img/TinyHouse1.svg" alt="TinyHouse1">
        <p>La Chaumière du Bayou</p> 
        <p>4 PERSONNES · Tiny House </p> 
        <img src="/assets/img/raquette.png" width="140px;">
        <img src="/assets/img/FeudeCamp-removebg-preview.png" width="140px;">
        <img src="/assets/img/quad.png" width="140px;">
        <img src="/assets/img/boutonReserver.svg" alt="boutonReserver">       
    </div>

    <div class="div-droite"> 
        <img src="/assets/img/TinyHouse2.svg" alt="TinyHouse2">
        <p>Le Tanière des ours </p> 
            <p>6 PERSONNES · Tiny House</p> 
       
        <img src="/assets/img/escalade.png" width="140px;">
        <img src="/assets/img/Logojaccuzzi.png" width="140px;">
        <img src="/assets/img/quad.png" width="140px;">
        <img src="/assets/img/boutonReserver.svg" alt="boutonReserver">
            
        </div>
    </div>
    
<h3 class="mini-titre">Pour 8 à 10 personnes </h3>
        <div class="centrer">
            <div class="div-gauche">
            <img src="/assets/img/Chalet1.svg" alt="Chalet1">      
            <p>La Cabane de pêcheur</p> 
            <p>8 PERSONNES · Châlet</p> 
            <img src="/assets/img/pecheInterdite.png" width="140px">     
            <img src="/assets/img/bateau.png" width="140px;">
            <img src="/assets/img/escalade.png" width="140px;">
            <img src="/assets/img/FeudeCamp-removebg-preview.png" width="140px;">
            <img src="/assets/img/boutonReserver.svg" alt="boutonReserver">
                
           </div>
          
           
           <div class="div-droite">
            <img src="/assets/img/Chalet2.svg" alt="Chalet2">
                <p>Le Châlet sur le lac </p>
                <p>10 PERSONNES · Châlet</p> 
              
                <img src="/assets/img/pecheInterdite.png" width="140px;">
                <img src="/assets/img/bateau.png" width="140px;">
                <img src="/assets/img/sauna-removebg-preview.png" width="140px;">
                <img src="/assets/img/boutonReserver.svg" alt="boutonReserver">
                    
                </div>
            </div>

  </main>
  <footer>
    <footer-utilisateur></footer-utilisateur>
  </footer>
</body>
</html>
