<!--<ul class="nav nav-pills m-5" *ngIf="false">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-house"></i></a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()"><a class="nav-link" (click)="deconnexion()" routerLinkActive="active">Déconnexion</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/compte']" routerLinkActive="active">Compte</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/animal']" routerLinkActive="active">Animal</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/logement']" routerLinkActive="active">Logement</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">Reservation</a>
    </li>
    <li class="nav-item" *ngIf="authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/enclos']" routerLinkActive="active">Enclos</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/inscription']" routerLinkActive="active">Inscription</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isAuthenticated()"> 
        <a class="nav-link" [routerLink]="['/connexion']" routerLinkActive="active">Connexion</a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" [routerLink]="['/mesReservations']" routerLinkActive="active">Mes Reservations</a>
    </li>
    <!--<li class="nav-item">
        <a class="nav-link" (click)="deconnexion()" routerLinkActive="active">Déconnexion</a>
    </li>-->
</ul>


