<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>

<app-nav-bar-compte></app-nav-bar-compte>
<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des Employes</h2>

    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Salaire</th>
                    <th>Poste</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let emp of list()">
                    <td>{{emp.id}}</td>
                    <td>{{emp.login}}</td>
                    <td>{{emp.nom}}</td>
                    <td>{{emp.prenom}}</td>
                    <td>{{emp.sal}}</td>
                    <td>{{emp.poste}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="style_zoo_projet_button" (click)="edit(emp.id)">Editer</a>
                            <a class="style_zoo_projet_button" (click)="remove(emp.id)">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="style_zoo_projet_button" (click)="add()">Ajouter</a>
    </div>
</div>
<div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="employeForm">
    <input type="hidden" class="form-control" id="version" name="version" formControlName="version"/>
    <div class="card-header bg-primary text-white display-6">Edition d'un Admin</div>
    <div class="card-body">
        <div class="form-group" hidden>
            <label for="type">Type:</label> <input type="text" class="form-control" id="type" name="type" readonly formControlName="type"/>
        </div>
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
        </div>
        <div class="form-group">
            <label for="login">Login:</label> <input type="text" class="form-control" id="login" name="login" formControlName="login"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password" class="form-control" id="password" name="password" formControlName="password"/>
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" formControlName="nom"/>
        </div>
        <div class="form-group">
            <label for="prenom">Prenom:</label> <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom"/>
        </div>
        <div class="form-group">
            <label for="sal">Salaire:</label> <input type="text" class="form-control" id="sal" name="sal" formControlName="sal"/>
        </div>
        <div class="form-group">
            <label for="poste">Poste:</label> 
            <select type="text" class="form-control" id="poste" name="poste" formControlName="poste">
                <option>Animalier</option>
                <option>Soigneur</option>
                <option>Gardien</option>
                <option>Paysagiste</option>

            </select>
        </div>

    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <button type="submit" class="style_zoo_projet_button">Valider</button>
            <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
        </div>
        </div>
        </div>
    </form>
</div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>