


*{
    margin:0;
    padding:0;
    color:black;
  
  }

  
  a{
    text-decoration: none;
  
  }
  /*///////////////////////.top --> barre bleue tout en haut de l'écran//////////////////*/
  
  .top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:41px;
    background: linear-gradient(#272F3C, #233470);
  }
  
  .top a{
    margin-left: 10px;
    margin-right: 10px;
  }
  /*/////////////////////////////////////////////////////////////////////////////////////*/
  
  /*///////////////////////HEADER//////////////////*/
  header{
    background-image: url(/assets/img/background_header.png);
    background-size:100%;
    background-position: center;
    font-family: Inter, sans-serif;
   
  }
  
  .topbar{
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:80px;
  }
  
  .logo{
    position: absolute;
    height:120px;
    margin-left: 10px;
    left:10px;
    top:-30px;
  
  }
  
  nav{
    margin:30px;
    width:70%;
    font-size: 13px;
  }

  .nav-item{
    color: #081E43;
    text-align: center;
    font-family: Knewave;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }


  .listeMenu{
    display:flex;
    list-style: none;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.5);
    height:30px;
    align-items: center;
    border-radius: 60px;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  
  
  .listeMenu li{
    position: relative;
    display: flex;
  }
  
  .listeMenu li a{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .listeMenu li a::after{
    position: absolute;
    content:"";
    height:30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    z-index: -1;
  }
  
  .listeMenu li a:hover::after{
    background-color: #D9D9D9;
  
  }
  .listeMenu li a:hover{
    color:#CE9A15;
  }
  
  /*////////////////////////////////////////////////////////MAIN////////////////////////////////////////////////////////////////*/
  
  main{
    background: linear-gradient(#79A619, #199EB0);
    min-height:calc(100vh - 171px); /*le main fait 100vh(la hauteur de l'écran) moins 291px qui correspond aux autres éléments*/
    /* display: flex; */
    align-items: center;
  }

  .admin{
    background: linear-gradient(#79A619, #199EB0);
    display: flex;
    align-items: center;
  }

  .connexion{
    font-family: Knewave, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color:#D49720D1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
    width:450px;
    height:250px;
    justify-content:space-around;
    align-items: center;
  
  }
  button {
    cursor: pointer;
    font-family: Knewave, sans-serif;
    border-radius: 30px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: rgb(215,215,215,0.53);
    font-size: 25px;
    margin-top:10px;
  
  }
  button:focus {
    outline: none;
    background: #000;
    background-color: grey;
  }
  
  .buttonInscription, .buttonRetour{
    display: block;
    border-radius: 30px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(215,215,215,0.53);
    font-size: 25px;
    margin-top:10px;
    text-align: center;
  }

  .inscription{
    display: block;
    border-radius: 30px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(215,215,215,0.53);
    font-size: 25px;
    margin-top:10px;
    text-align: center;
  }
   input{
    background-color:  rgba(211, 211, 211, 0.5);
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 8px;
    border: solid 1px;
    border-radius: 15px;
    margin-left:5px;
  } 
  .mdpOublie a{
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: light;
  }

  /*///////////////////////////////////////////////////////Animaux/////////////////////////////////////////////////*/

  /*.body{
    margin-right: auto;
    margin-left: auto;
    max-width: 2820px
  }*/

  
  .container-fluid {
    display:flex;
    width: 80%;
    padding-right: 55px;
    padding-left: 55px;
    padding-top:60px;
    padding-bottom: 150px;/*laisser un espece entre les cadres et le footer*/
    margin-right: 70px; 

  }
  .card-test { /*style des cadres qui contient l'image avec le text*/
    height: 950px;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 125);
  }


  .col-12 {
    padding-right: 15px;
    padding-left: 55px;
  }

  .row1 {
    flex: 0 0 33.333333%; /*l'espace entre les img horizontalement*/
    max-width: 36.333333%;
    display: block;
    margin-top: 50px;
    
  }

  .row2 {
    display: block;
    margin-top: 50px;
    flex: 0 0 33.333333%; /*l'espace entre les img horizontalement*/
    max-width: 36.333333%;
  }
  .row3 {
    display: block;
    margin-top: 50px;
    flex: 0 0 33.333333%; /*l'espace entre les img horizontalement*/
    max-width: 33.333333%;
  }
  
  
  .card-img-top {  /*style des es images*/
    
    border-radius: 85px;
    transition: transform 0s;
    /*margin:auto;*/
    margin-right:10px;
    margin-left:45px;
    margin-top:30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    position: relative;
    width: 364px;
    height: 419px;
  }

  .card-img-top:hover {

    transform: scale(1.1);
    transform: rotate(360deg) scale(0.8);
    transform: rotateY(180deg);
  }

  /*.card-img-bulle {

    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 544px;
    height: 419px;
  }*/
 
  
  /*.card-zommable { /*l'ecriture dans le cadre blanc*/
    /*height:450px;
    margin-left: 20px;
    margin-right:15px;
    margin-top:30px;*/
   /* background: #D49720; *//*mettre les 3en commentaires*/
    /*border-radius: 30px;
    background-clip:border-box ;
    padding:10px;*/
  /*height:1500px;
    border-radius: 5px; 
  }
  /*.card-zommable {
  transition: transform 0.3s ease 0s;
  }*/
  
  .card-zommable { /*l'ecriture*/
    height:550px;
    margin-left: 43px;
    margin-right:0px;
    margin-top:50px;
    padding-top: 30px;
    width: 380px;
    font-size: 19px;
  }
  
  .card-zommable:hover {
    transform: scale(1.2); /* Agrandir l'écriture de 20% au survol */
  }
  
  .card-title { /*pour laisser un espece entre le titre et l'écriture*/
    margin-bottom: 1rem;
    font-size: 22px;
}

  /*////////////////////////////////////////////////////////FOOTER////////////////////////////////////////////////////////////////*/
  
  .footer_utilisateur{
    background-color:#D49720D1;
    display: flex;
    align-items: center;
    height:50px;
  }
  .listeFooter{
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  .listeFooter li {
    display: flex;
    list-style: none;
  }

  
   /*////////////////////////////////////////////////////////ACCUEIL////////////////////////////////////////////////////////////////*/

   /* Définissez votre animation avec les propriétés souhaitées */
@keyframes imageAnimation {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.slide {
  animation-name: imageAnimation;
  animation-duration: 4s; /* Durée totale de l'animation */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; /* Pour répéter l'animation en boucle */
  animation-delay: 4s; /* Délai entre chaque image */
}



.slide:first-child {
  animation-delay: 0;
}



   .carousel img{
    width:100%;
    height:450px ;

   }
   .container_image_decouvrir{
    position:relative;
    height: 1200px;
   }
  .accueil_fond_bleu{
    width:600px;
    position:absolute;
    z-index: 0;
    top:300px;
   }
   .accueil_aquarium{
    width:600px;
    position:absolute;
    z-index: 1;
    left:100px;
    top:300px;
   }
    .accueil_meduse{
        width:300px;
        position:absolute;
        top: 757px;
        z-index: 2;
    }
    .accueil_raie_manta{
        width:525px;
        position:absolute;
        left:525px;
    }
    .container_image_decouvrir h2{
        width:400px;
        text-align: center;
        font-family:  Knewave, sans-serif;
    }
    .container_image_decouvrir h3{
        width:400px;
        text-align: center;
    }
    .text_decouvrir{
        position: absolute;
        right:150px;
        top : 700px;
        font-size: 24px;
        font-family: Inter;
    }

    .container_image_section2{
      position:relative;
      height: 1000px;
     }
    .accueil_fond_bleu2{
      width:600px;
      position:absolute;
      z-index: 0;
      top:150px;
      right:100px;
     }
     .accueil_lama{
      width:500px;
      position:absolute;
      z-index: 1;
      right:25px;
      top:150px;
     }
      .accueil_chevre{
          width:300px;
          position:absolute;
          top: 607px;
          right:262px;
          z-index: 2;
      }
      .accueil_tigre{
          width:400px;
          position:absolute;
          right:270px;
          z-index: 1;
      }
      .container_image_section2 h2{
          width:400px;
          text-align: center;
          font-family:  Knewave, sans-serif;
      }
      .container_image_section2 h3{
          width:400px;
          text-align: center;
      }
      .text_faites_conaissance{
          position: absolute;
          left:150px;
          top : 160px;
          font-size: 24px;
          font-family: Inter;
          
      }

      .container_image_section3{
        position:relative;
        height: 900px;
       }
      .accueil_fond_bleu3{
        width:600px;
        position:absolute;
        z-index: 0;
        top:15px;
       }
       .accueil_araignee{
        width:500px;
        position:absolute;
        z-index: 1;
        left:100px;
        top:220px;
       }
        .accueil_jurogumo{
            width:300px;
            position:absolute;
            top: 500px;
            left: 200px;
            z-index: 2;
        }
        .accueil_kappa{
            width:250px;
            position:absolute;
            left:225px;
            z-index: 2;
        }
        .accueil_salamandre{
          width:300px;
          position:absolute;
          left:0px;
          top:100px;
          z-index: 2;
      }
        .container_image_section3 h2{
            width:400px;
            text-align: center;
            font-family:  Knewave, sans-serif;
        }
        .container_image_section3 h3{
            width:400px;
            text-align: center;
        }
        .text_decouvrez_yokai{
            position: absolute;
            right:150px;
            top : 125px;
            font-size: 24px;
            font-family: Inter;
        }

/*////////////////////////////////////////////////////////BILLETERIE////////////////////////////////////////////////////////////////*/
.section_achat_billet_logement{
  display:flex;
  justify-content: space-around;
  height:750px;
}



.achat_billet{
  display:flex;
  margin-top: 10px;
  font-family: Inter;
  flex-direction: column;
  width: 45%;
  align-items: center;

}

.achat_logement{
  display:flex;
  font-family: Inter;
  margin-top: 10px;
  flex-direction: column;
  width: 45%;
  align-items: center;
}
.achat_billet img{
  margin-top: 20px;
  margin-bottom :50px;
  width:40%
}

.achat_logement img{
  margin-top: 20px;
  margin-bottom :50px;
  width:40%
}
.section_achat_billet_logement p {
  text-align: center;
 
}
.section_achat_billet_logement h2 {
  text-align: center;
  font-family:  Knewave, sans-serif;
}

.button_reserver_billet_seul, .button_reserver_billet_logement{
  font-family: Knewave, sans-serif;
  font-size: 20px;
  background-color:#D49720D1;
  margin-top: 10px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:7px;
  padding-right:7px;
  border-radius: 80px;
}

.conteneur-bloc {
  position: relative;
  overflow: hidden; /* Masquer le dépassement de l'image agrandie */
  width: 100%; /* Ajustez la largeur en fonction de vos besoins */
  height: auto; /* Ajustez la hauteur en fonction de vos besoins */
}

/* Ajoutez un style pour l'image lorsque la souris ne la survole pas */
#imageSurvolee {
  transition: transform 0.3s ease; /* Effet de transition doux pour le zoom */
}

/* Ajoutez un style pour l'image lorsque la souris la survole */
#imageSurvolee:hover {
  transform: scale(2); 
}
/* Classe pour masquer les images SVG alternatives */
.svg-alternative {
  display: none;
 
}






/*////////////////////////////////////////////////////////BILLETERIE-RESERVATION////////////////////////////////////////////////////////////////*/

.section_billet_reservation{
  font-family: Inter, sans-serif;
  display:flex;
  justify-content: space-around;
}
.colonne_billet_1_jour, .colonne_billet_week_end, .colonne_billet_1_an{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  justify-content:flex-end;
}

.section_billet_reservation img{
  display:flex;
  width:60%;
}
.section_billet_reservation h2, .section_billet_reservation p, .section_billet_reservation a{
  margin-top:10px;
}
.colonne_billet_1_jour ul{
  margin-top: 10px;
  margin-bottom: 2rem;
}
.colonne_billet_week_end ul{
  margin-top: 10px;
  margin-bottom: 2rem;
}
.colonne_billet_1_an ul{
  margin-top: 10px;
}
.section_billet_reservation h2{
  font-family: Knewave, sans-serif;
}
.button_a_partir_de_15_euros, .button_a_partir_de_22_euros, .button_a_partir_de_100_euros{
  font-family: Knewave, sans-serif;
  font-size: 20px;
  background-color:#D49720D1;
  margin-top: 10px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:7px;
  padding-right:7px;
  border-radius: 80px;
}
.section_choix_participant_reservation{
  margin-top: 50px;
  font-family: Inter, sans-serif;
}
.table_choix_participant_col_1{
  background-color:#D49720D1;
  border-radius: 6px;
  width: 340px;
  padding-left: 5px;
}
.table_choix_participant_col_2 .table_choix_participant_col_3, .table_choix_participant_col_4{
  width: 25%;
 
}
.table_choix_participant{
  margin: auto;
  width: 80%;
}
.table_choix_participant th{
  background-color:#D49720D1;
  border-radius: 6px;
  padding: 3px;
  font-family: Knewave, sans-serif;
}
.table_choix_participant label {
  background-color:#D49720D1;
  border-radius: 6px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  
}
.table_choix_participant input{
  width:40px;
  background-color:  rgba(211, 211, 211, 0.5);
  padding-top:4px;
  padding-bottom:8px;
  padding-left: 8px;
  border: solid 1px;
  border-radius: 2px;
  margin-left:5px;
}

.table_choix_participant_flex{
  display: flex;

}
.table_choix_participant_flex label{
  flex-grow: 1;
  text-align: center;
}

.section_choix_date_reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container_formulaire_choix_date_reservation{
  margin-top: 10px;;
  display:flex;
  justify-content: center;
}
.section_choix_interet_reservation{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.container_choix_interet{
  display: flex;
}
.section_choix_interet_reservation select, .section_choix_interet_reservation input {
  background-color:  rgba(211, 211, 211, 0.5);
  padding-top:8px;
  padding-bottom:8px;
  padding-left: 8px;
  border: solid 1px;
  border-radius: 15px;
  margin-left:5px;
}
.container_button_reserver{
  display : flex;
  justify-content: center;
  padding-bottom: 20px;
}
/*///////////////////////////////////////LOGEMENT/////////////////////////////////////////////////*/
.logement-utilisateur-section1{
color: #081E43;
text-align: center;
font-family: Knewave;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.logement-utilisateur-section2{
  color: #081E43;
  text-align: center;
  font-family: Knewave;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

.info-logement{
display:flex;
align-items: center;
}

.mise-en-forme-info{
display:flex;
width:33%;
flex-direction: column;
align-items: center;
}

.button_reserver_billet_logement {
  margin: 0; /* Supprime les marges */
  padding: 0; /* Supprime les rembourrages */
}

.mini-titre{
  color: #081E43;
  font-family: Knewave;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

  .bouton-reserver{
    width: 236px;
  height: 66px;
  flex-shrink: 0;
  }
 /* .tooltip-container {
    position: relative;
    display: inline-block;
    color: #081E43;
  font-family: Knewave;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  


.tooltip {
  visibility: hidden;
  width: 250px;
  height: 450px;
  background: linear-gradient(to bottom, rgb(6, 6, 61), rgba(0, 0, 255, 0));
  color: #000;
  border-radius: 5px;
  padding: 5px;
  float: left;
  width: 50%; 
  z-index: 1;
  transition: visibility 0.3s ease;
}

h3{
  color: #081E43;
font-family: Knewave;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
} */
.centrer {
  display: flex;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  text-align: center; /* Centre le texte à l'intérieur de la div */
}
.centrer img:last-child {
  display: block;
  margin: 0 auto;
}

.div-gauche {
  float: left;
  width: 50%; 
}

.div-droite {
  float: right;
  width: 50%; 
}
.div-gauche img:last-child {
  display: block;
  margin: 0 auto;
}
.div-droite img:last-child {
  display: block;
  margin: 0 auto;
}


.p-text{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

/*//////////////////////////////////////////////////////connexion////////////////////////////////////////////////*/
.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  margin-top: 83px;
  margin-bottom: 83px;
  border-radius: 83px;
  background: rgba(212, 151, 32, 0.82);
  width: 750px;
  height: 398.846px;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  padding: 15px; 
}

.titre{
  color: #081E43;
  font-family: Knewave;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

  .petitTitre{
    color: #081E43;
    font-family: Knewave;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;}

    .petitTitre label {
      flex: 1;
    }

    .petitTitre input {
      flex: 3; 
    }

    .petitTitre label,
    .petitTitre input {
      display: inline-block;
      vertical-align: middle;
    }
    
    .btn-reset {
      background-color: transparent;
      border: none;
      color: inherit;
      padding: 0;
      font-size: inherit;
      cursor: pointer;
      outline: none; /* Supprime la mise en surbrillance au focus */
    }
    
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  

.section_choix_interet_reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  margin-top: 50px;
  height:150px;

}
.container_choix_interet{
  display: flex;
  margin-top: 10px;
  width: 90%;
  justify-content: space-around;
}

.choix_interet_1,.choix_interet_2,.choix_interet_3,.choix_interet_4,.choix_interet_5{
  background-color:#D49720D1;
  height:50px;
  width:200px;
  margin-left:10px;
  border-radius: 6px;
}
.section_choix_interet_reservation select{
  width:180px;
}

.container_formulaire_choix_logement_reservation{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  width: 60%;
  margin: auto;
  font-family: Inter, sans-serif;
}
.choix_nombre_personne_logement, .choix_type_logement{
  display:flex;
  width: 100%;
  justify-content: space-between;
  margin-top:10px;
}

.container_button_reserver{
  display:flex;
  justify-content: center;
  padding-bottom: 50px;
}

.card-body{
  display: flex;
  justify-content: center;
 }

 .custom-button {
  background-color: none;
  color: none;
  border: none; 
  width: 40%;
  height: 50%;
}

/*////////////////////////////////////////////////RESERVATION//////////////////////////////////////*/
.style_zoo_projet_tableau_crud{
  background-color:#D49720D1;
  font-family: Inter, sans-serif;
  border-radius: 5px;
  margin:auto;
  text-align: center;
}
.style_zoo_projet_tableau_crud tr:nth-child(even) {
  background-color: #ffb829d1;
}

.style_zoo_projet_button{
  cursor: pointer;
  font-family: Knewave, sans-serif;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: rgb(215,215,215,0.53);
  margin-top:10px;
}
.style_zoo_projet_button:active{
  background-color: #ffb829d1;
}
.style_zoo_projet_formulaire_ajout input,.style_zoo_projet_formulaire_ajout select, .style_zoo_projet_formulaire_inscription input, .style_zoo_projet_formulaire_inscription select{
  background-color:  rgba(211, 211, 211, 0.5);
  padding-top:8px;
  padding-bottom:8px;
  padding-left: 8px;
  border: solid 1px;
  border-radius: 15px;
  margin-left:5px;
  
}
