


*{
    margin:0;
    padding:0;
    color:black;
  }
  
  a{
    text-decoration: none;
  
  }
  /*///////////////////////.top --> barre bleue tout en haut de l'écran//////////////////*/
  
  .top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:41px;
    background: linear-gradient(#272F3C, #233470);
  }
  
  .top a{
    margin-left: 10px;
    margin-right: 10px;
  }
  /*/////////////////////////////////////////////////////////////////////////////////////*/
  
  /*///////////////////////HEADER//////////////////*/
  header{
    background-image: url(/assets/img/background_header.jpg);
    background-size:100%;
    background-position: center;
    font-family: Inter, sans-serif;
    font-weight: 800;
  }
  
  .topbar{
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }
  
  .logo{
    position: absolute;
    height:120px;
    margin-left: 10px;
    left:10px;
    top:-30px;
  
  }
  
  nav{
    margin:20px;
    width:70%;
    font-size: 13px;
  
  }
  .listeMenu{
    display:flex;
    list-style: none;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.5);
    height:30px;
    align-items: center;
    border-radius: 60px;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  
  
  .listeMenu li{
    position: relative;
    display: flex;
  }
  
  .listeMenu li a{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  .listeMenu li a::after{
    position: absolute;
    content:"";
    height:30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    z-index: -1;
  }
  
  .listeMenu li a:hover::after{
    background-color: #D9D9D9;
  
  }
  .listeMenu li a:hover{
    color:#CE9A15;
  }
  
  /*////////////////////////////////////////////////////////MAIN////////////////////////////////////////////////////////////////*/
  
  main{
    background: linear-gradient(#79A619, #199EB0);
    min-height:calc(100vh - 291px); /*le main fait 100vh(la hauteur de l'écran) moins 291px qui correspond aux autres éléments*/
    /* display: flex; */
    align-items: center;
  }
  .connexion{
    font-family: Knewave, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color:#D49720D1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
    width:450px;
    height:250px;
    justify-content:space-around;
    align-items: center;
  
  }
  button {
    cursor: pointer;
    font-family: Knewave, sans-serif;
    border-radius: 30px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: rgb(215,215,215,0.53);
    font-size: 25px;
    margin-top:10px;
  
  }
  button:focus {
    outline: none;
    background: #000;
    background-color: grey;
  }
  
  .inscription{
    display: block;
    border-radius: 30px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(215,215,215,0.53);
    font-size: 25px;
    margin-top:10px;
    text-align: center;
  }
  /* input{
    background-color:  rgba(211, 211, 211, 0.5);
    padding-top:8px;
    padding-bottom:8px;
    padding-left: 8px;
    border: solid 1px;
    border-radius: 15px;
    margin-left:5px;
  } */
  .mdpOublie a{
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: light;
  }

  /*///////////////////////////////////////////////////////Animaux/////////////////////////////////////////////////*/

  /*.body{
    margin-right: auto;
    margin-left: auto;
    max-width: 2820px
  }*/

  
  .container-fluid {
    display:flex;
    width: 80%;
    padding-right: 55px;
    padding-left: 55px;
    padding-top:60px;
    padding-bottom: 100px;/*laisser un espece entre les cadres et le footer*/
    margin: auto; 
  }

  .card-test { /*style des cadres qui contient l'image avec le text*/
    height: 1400px;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 125);
  }

  .col-12 {
    padding-right: 15px;
    padding-left: 55px;
  }

  .row1 {
    flex: 0 0 33.333333%; /*l'espace entre les img horizontalement*/
    max-width: 33.333333%;
    display: block;
    margin-top: 50px;
    
  }

  .row2 {
    display: block;
    margin-top: 50px;
    flex: 0 0 33.333333%; /*l'espace entre les img horizontalement*/
    max-width: 33.333333%;
  }
  .row3 {
    display: block;
    margin-top: 50px;
    flex: 0 0 33.333333%; /*l'espace entre les img horizontalement*/
    max-width: 33.333333%;
  }
  
  
  .card-img-top {  /*style des es images*/
    
    border-radius: 85px;
    transition: transform 0s;
    margin:auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 534px;
    height: 519px;
  }

  .card-img-top:hover {

    transform: scale(1.1);
    transform: rotate(360deg) scale(0.8);
    transform: rotateY(180deg);
  }

  /*.card-img-bulle {

    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 544px;
    height: 419px;
  }*/
 
  
  /*.card-zommable { /*l'ecriture dans le cadre blanc*/
    /*height:450px;
    margin-left: 20px;
    margin-right:15px;
    margin-top:30px;*/
   /* background: #D49720; *//*mettre les 3en commentaires*/
    /*border-radius: 30px;
    background-clip:border-box ;
    padding:10px;*/
  /*height:1500px;
    border-radius: 5px; 
  }
  /*.card-zommable {
  transition: transform 0.3s ease 0s;
  }*/
  
  .card-zommable { /*l'ecriture*/
    height:550px;
    margin-left: 60px;
    margin-right:0px;
    margin-top:50px;
    padding-top: 30px;
    text-align: left;
    justify-content: flex-start;
    font-size: 18px; /* Taille de police de 18 pixels */
    font-family: "Helvetica Neue", Arial, sans-serif;  /*Choix de police de caractères avec des alternatives */
    font-style: normal;
    color: #000000;
  }
   
  p {
    font-size: 20px; /* Taille de police de 18 pixels */
    font-family: "Helvetica Neue", Arial, sans-serif;  /*Choix de police de caractères avec des alternatives */
    font-style: normal;
    color: #000000;
    
}

  .card-zommable:hover {
    transform: scale(1.2); /* Agrandir l'écriture de 20% au survol */
  }
  
  .card-title { /*pour laisser un espece entre le titre et l'écriture*/
    margin-bottom: 1rem;
}

/* Style pour aligner le lien à gauche */
  .lien {
    text-decoration: underline; /* Ajoute un soulignement */
    color: blue; /* Couleur du texte du lien */
   
  }

  /*////////////////////////////////////////////////////////FOOTER////////////////////////////////////////////////////////////////*/
  
  .footer_utilisateur{
    background-color:#D49720D1;
    display: flex;
    align-items: center;
    height:50px;
  }
  .listeFooter{
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  .listeFooter li {
    display: flex;
    list-style: none;
  }

  
   /*////////////////////////////////////////////////////////ACCUEIL////////////////////////////////////////////////////////////////*/

   .carousel img{
    width:100%;

   }
   .container_image_decouvrir{
    position:relative;
    height: 1200px;
   }
  .accueil_fond_bleu{
    width:600px;
    position:absolute;
    z-index: 0;
    top:300px;
   }
   .accueil_aquarium{
    width:600px;
    position:absolute;
    z-index: 1;
    left:100px;
    top:300px;
   }
    .accueil_meduse{
        width:300px;
        position:absolute;
        top: 757px;
        z-index: 2;
    }
    .accueil_raie_manta{
        width:525px;
        position:absolute;
        left:525px;
    }
    .container_image_decouvrir h2{
        width:400px;
        text-align: center;
        font-family:  Knewave, sans-serif;
    }
    .container_image_decouvrir h3{
        width:400px;
        text-align: center;
    }
    .text_decouvrir{
        position: absolute;
        right:150px;
        top : 700px;
        font-size: 24px;
    }

    .container_image_section2{
      position:relative;
      height: 1000px;
     }
    .accueil_fond_bleu2{
      width:600px;
      position:absolute;
      z-index: 0;
      top:150px;
      right:100px;
     }
     .accueil_lama{
      width:500px;
      position:absolute;
      z-index: 1;
      right:25px;
      top:150px;
     }
      .accueil_chevre{
          width:300px;
          position:absolute;
          top: 607px;
          right:262px;
          z-index: 2;
      }
      .accueil_tigre{
          width:400px;
          position:absolute;
          right:270px;
          z-index: 1;
      }
      .container_image_section2 h2{
          width:400px;
          text-align: center;
          font-family:  Knewave, sans-serif;
      }
      .container_image_section2 h3{
          width:400px;
          text-align: center;
      }
      .text_faites_conaissance{
          position: absolute;
          left:150px;
          top : 160px;
          font-size: 24px;
      }

      .container_image_section3{
        position:relative;
        height: 900px;
       }
      .accueil_fond_bleu3{
        width:600px;
        position:absolute;
        z-index: 0;
        top:15px;
       }
       .accueil_araignee{
        width:500px;
        position:absolute;
        z-index: 1;
        left:100px;
        top:220px;
       }
        .accueil_jurogumo{
            width:300px;
            position:absolute;
            top: 500px;
            left: 200px;
            z-index: 2;
        }
        .accueil_kappa{
            width:250px;
            position:absolute;
            left:225px;
            z-index: 2;
        }
        .accueil_salamandre{
          width:300px;
          position:absolute;
          left:0px;
          top:100px;
          z-index: 2;
      }
        .container_image_section3 h2{
            width:400px;
            text-align: center;
            font-family:  Knewave, sans-serif;
        }
        .container_image_section3 h3{
            width:400px;
            text-align: center;
        }
        .text_decouvrez_yokai{
            position: absolute;
            right:150px;
            top : 125px;
            font-size: 24px;
        }

/*////////////////////////////////////////////////////////BILLETERIE////////////////////////////////////////////////////////////////*/
.section_achat_billet_logement{
  display:flex;
  justify-content: space-around;
  height:750px;
}

.achat_billet{
  display:flex;
  margin-top: 10px;
  flex-direction: column;
  width: 45%;
  align-items: center;

}

.achat_logement{
  display:flex;
  margin-top: 10px;
  flex-direction: column;
  width: 45%;
  align-items: center;
}
.achat_billet img{
  margin-top: 20px;
  margin-bottom :30px;
  width:40%
}

.achat_logement img{
  margin-top: 20px;
  margin-bottom :30px;
  width:40%
}
.section_achat_billet_logement p {
  text-align: center;
 
}
.section_achat_billet_logement h2 {
  text-align: center;
  font-family:  Knewave, sans-serif;
}

.button_reserver_billet_seul, .button_reserver_billet_logement{
  font-family: Knewave, sans-serif;
  font-size: 20px;
  background-color:#D49720D1;
  margin-top: 10px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:7px;
  padding-right:7px;
  border-radius: 80px;
}

/*////////////////////////////////////////////////////////BILLETERIE-RESERVATION////////////////////////////////////////////////////////////////*/

.section_billet_reservation{
  font-family: Inter, sans-serif;
  display:flex;
  justify-content: space-around;
}
.colonne_billet_1_jour, .colonne_billet_week_end, .colonne_billet_1_an{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  justify-content:flex-end;
}

.section_billet_reservation img{
  display:flex;
  width:60%;
}
.section_billet_reservation h2, .section_billet_reservation p, .section_billet_reservation a{
  margin-top:10px;
}
.colonne_billet_1_jour ul{
  margin-top: 10px;
  margin-bottom: 2rem;
}
.colonne_billet_week_end ul{
  margin-top: 10px;
  margin-bottom: 2rem;
}
.colonne_billet_1_an ul{
  margin-top: 10px;
}
.section_billet_reservation h2{
  font-family: Knewave, sans-serif;
}
.button_a_partir_de_15_euros, .button_a_partir_de_22_euros, .button_a_partir_de_100_euros{
  font-family: Knewave, sans-serif;
  font-size: 20px;
  background-color:#D49720D1;
  margin-top: 10px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:7px;
  padding-right:7px;
  border-radius: 80px;
}
.section_choix_participant_reservation{
  margin-top: 50px;
  font-family: Inter, sans-serif;
}
.table_choix_participant_col_1{
  background-color:#D49720D1;
  border-radius: 6px;
  width: 340px;
  padding-left: 5px;
}
.table_choix_participant_col_2 .table_choix_participant_col_3, .table_choix_participant_col_4{
  width: 25%;
 
}
.table_choix_participant{
  margin: auto;
  width: 80%;
}
.table_choix_participant th{
  background-color:#D49720D1;
  border-radius: 6px;
  padding: 3px;
  font-family: Knewave, sans-serif;
}
.table_choix_participant label {
  background-color:#D49720D1;
  border-radius: 6px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  
}
.table_choix_participant input{
  width:40px;
  background-color:  rgba(211, 211, 211, 0.5);
  padding-top:4px;
  padding-bottom:8px;
  padding-left: 8px;
  border: solid 1px;
  border-radius: 2px;
  margin-left:5px;
}

.table_choix_participant_flex{
  display: flex;

}
.table_choix_participant_flex label{
  flex-grow: 1;
  text-align: center;
}

.section_choix_date_reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  margin-top: 50px;
  height:500px;
}
.container_formulaire_choix_date_reservation{
  margin-top: 10px;;
  display:flex;
  justify-content: center;
}
/*///////////////////////////////////////LOGEMENT/////////////////////////////////////////////////*/
.logement-utilisateur-section1 h2{
color: #081E43;
text-align: center;
font-family: Knewave;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;}

.info-logement{
display:flex;
align-items: center;
}

.mise-en-forme-info{
display:flex;
width:33%;
flex-direction: column;
align-items: center;
}

.mini-titre h3{
  color: #081E43;
  font-family: Knewave;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

  .bouton-reserver{
    width: 236px;
  height: 66px;
  flex-shrink: 0;
  }
 p {
  color: #922323;
  text-align: center;
  font-family: Inter;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3{
  color: #081E43;
font-family: Knewave;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.centrer {
  display: flex;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  text-align: center; /* Centre le texte à l'intérieur de la div */
}
.centrer img:last-child {
  display: block;
  margin: 0 auto;
}

.div-gauche {
  float: left;
  width: 50%; 
}

.div-droite {
  float: right;
  width: 50%; 
}
.div-gauche img:last-child {
  display: block;
  margin: 0 auto;
}
.div-droite img:last-child {
  display: block;
  margin: 0 auto;
}


p{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;

}


