<app-nav-bar-compte></app-nav-bar-compte>
<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des comptes</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let compte of list()">
                    <td>{{compte.id}}</td>
                    <td>{{compte.login}}</td>
                    <td>{{compte.nom}}</td>
                    <td>{{compte.prenom}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>