<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>

<app-nav-bar-compte></app-nav-bar-compte>
<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des comptes</h2>
    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let compte of list()">
                    <td>{{compte.id}}</td>
                    <td>{{compte.login}}</td>
                    <td>{{compte.nom}}</td>
                    <td>{{compte.prenom}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>