<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

  <main>
    <section class="carousel">
        <img src="/assets/img/carousel_accueil1_1200.jpg" alt="enfant devant zoo">
        
    </section>
    <section class="accueil_section1">
        <div class="container_image_decouvrir">
            <img src="/assets/img/accueil_raie.png" alt="raie manta" class="accueil_raie_manta">
            <img src="/assets/img/accueil_meduse.png" alt="meduse" class="accueil_meduse">
            <img src="/assets/img/accueil_fond_bleu.png" alt="fond bleu" class="accueil_fond_bleu">
            <img src="/assets/img/accueil_aquarium.png" alt="femme devant aquarium" class="accueil_aquarium">
            <div class="text_decouvrir">
                <h2>Venez vivre une nouvelle immersion dans le grand bleu</h2>
                <h3>Découvrez en avant-première, notre nouvel aquarium doté d’un système de filtration de l’eau innovant et respecteux de la faune marine</h3>
            </div>
        </div>

    </section>

    <section class="accueil_section2">
      <div class="container_image_section2">
          <img src="/assets/img/accueil_tigre.png" alt="tigre" class="accueil_tigre">
          <img src="/assets/img/accueil_chevre.png" alt="chevre" class="accueil_chevre">
          <img src="/assets/img/accueil_fond_bleu2.png" alt="fond bleu" class="accueil_fond_bleu2">
          <img src="/assets/img/accueil_lama.png" alt="lama" class="accueil_lama">
          <div class="text_faites_conaissance">
              <h2>Faites connaissances des nouveaux pensionnaires du zoo</h2>
              <h3>Notre lama Waterfall arrivée à l’été 2018 a donné naissance à un petit Fofifonfec le 08/08/2023. Le petit mâle rejoint la liste des mignonneries à découvrir. Les visiteurs pourront également venir observer les nouveaux bébés chevreaux, tigres et faons au zoo nés plus tôt cette année.</h3>
          </div>
      </div>

  </section>

  <section class="accueil_section3">
    <div class="container_image_section3">
        <img src="/assets/img/accueil_araignee.png" alt="araignee" class="accueil_araignee">
        <img src="/assets/img/accueil_kappa.png" alt="kappa" class="accueil_kappa">
        <img src="/assets/img/accueil_fond_bleu3.png" alt="fond bleu" class="accueil_fond_bleu3">
        <img src="/assets/img/accueil_jurogumo.png" alt="jurogumo" class="accueil_jurogumo">
        <img src="/assets/img/accueil_salamandre.png" alt="jurogumo" class="accueil_salamandre">
        <div class="text_decouvrez_yokai">
            <h2>Découvrez la nouvelle exposition sur les Yokai</h2>
            <h3>Cette exposition vous fera découvrir les animaux à l’origine des Yōkai, ces créatures fantastiques du folklore japonais. Vous apprendrez comment l’araignée Trichonephila clavata a donné naissance à la redoutable Jorōgumo, ou comment la salamandre géante du Japon a inspiré le kappa, un esprit aquatique malicieux.</h3>
        </div>
    </div>

</section>


  </main>
  <footer>
    <footer-utilisateur></footer-utilisateur>
  </footer>
</body>
</html>
