<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Espace de Gestion</div>
    <div class="card-body">
        <table class="table table-striped">
            <!-- <tr><a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Acceuil<i class="bi bi-house"></i></a>  </tr>
            <tr><a class="nav-link" [routerLink]="['/compte']" routerLinkActive="active">Gestion des comptes</a></tr>
            <tr><a class="nav-link" [routerLink]="['/animal']" routerLinkActive="active">Gestion des Animaux</a></tr>
            <tr><a class="nav-link" [routerLink]="['/enclos']" routerLinkActive="active">Gestion des Enclos</a></tr>
            <tr><a class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">Gestion des Reservations</a></tr> -->
           <!--<tr><a class="nav-link" [routerLink]="['/logement']" routerLinkActive="active">Gestion des Logements</a></tr>--> 

        </table>