<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>
<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des logements</h2>
    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nombre de place</th>
                    <th>Prix</th>
                    <th>Numéro</th>
                    <th>Description</th>
                    <th>Type de logement</th>
                    <th>Enclos</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let log of list()">
                    <td>{{log.id}}</td>
                    <td>{{log.nbPlace}}</td>
                    <td>{{log.prix}}</td>
                    <td>{{log.numero}}</td>
                    <td>{{log.description}}</td>
                    <td>{{log.type}}</td>   
                    <td *ngIf="log.enclos">{{log.enclos.id}}</td> 
                    <td *ngIf="!log.enclos"></td>  
                    <td>             
                        <div class="btn-group btn-group-sm">
                            <a class="style_zoo_projet_button" (click)="edit(log.id)">Editer</a>
                            <a class="style_zoo_projet_button" (click)="remove(log.id)">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="style_zoo_projet_button" (click)="add()">Ajouter un logement</a>
    </div>
</div>

<div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="logementForm">
        <input type="hidden" class="form-control" id="version" name="version" formControlName="version"/>

    <h3 class="style_zoo_projet_h3">Edition d'un logement</h3>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id" />
        </div>
        <div class="form-group">
            <label for="nbPlace">Nombre de place:</label> <input type="number" class="form-control" id="nbPlace" name="nbPlace" formControlName="nbPlace"/>
        </div>
        <div class="form-group">
            <label for="prix">Prix:</label> <input type="number" class="form-control" id="prix" name="prix" step=".01" formControlName="prix"/>
        </div>
        <div class="form-group">
            <label for="numero">Numéro:</label> <input type="text" class="form-control" id="numero" name="numero" step="1" formControlName="numero"/>
        </div>
        <div class="form-group">
            <label for="description">Description:</label> <input type="text" class="form-control" id="description" name="description" formControlName="description"/>
        </div>
        <div class="form-group">
            <label for="enclos">Enclos:</label> <input type="number" class="form-control" id="enclos" name="enclos" formControlName="idEnclos"/>
        </div>
        <div class="form-group">
            <label for="type">Type:</label> 
            <select class="form-control" id="type" name="type" formControlName="type">
                <option>chalet</option>
                <option>mobilHome</option>
            </select>
        </div>


        
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="submit" class="style_zoo_projet_button">Valider</button>
                <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
            </div>
    </div>
    </form>
</div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>







