<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>

<div class="container_style_zoo_projet_formulaire_inscription">
    <form (ngSubmit)="save()" [formGroup]="inscriptionForm">
    <input type="hidden" class="form-control" id="version" name="version" formControlName="version"/>
    <h2 class="style_zoo_projet_h2">Inscription client</h2>
    <div class="style_zoo_projet_formulaire_inscription">
        <div class="form-group" hidden>
            <label for="type">Type:</label> <input type="text" class="form-control" id="type" name="type" readonly formControlName="type"/>
        </div>
        <div class="form-group" hidden >
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
        </div>
        <div class="form-group">
            <label for="login">Login:</label> <input type="text" class="form-control" id="login" name="login" formControlName="login"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password" class="form-control" id="password" name="password" formControlName="password"/>
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" formControlName="nom"/>
        </div>
        <div class="form-group">
            <label for="prenom">Prenom:</label> <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom"/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="email" class="form-control" id="email" name="email" formControlName="email"/>
        </div>
        <div class="form-group">
            <label for="tel">Tel:</label> <input type="text" class="form-control" id="tel" name="tel" formControlName="tel"/>
        </div>

    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <button type="submit" class="style_zoo_projet_button">Valider</button>
            <a class="style_zoo_projet_button"  (click)="cancel()">Annuler</a>
        </div>
        </div>
        </div>
    </form>
</div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>