<ul class="style_zoo_projet_nav_bar_compte">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compte']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-house"></i></a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/compte/admin']" routerLinkActive="active">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compte/employe']" routerLinkActive="active">Employe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compte/client']" routerLinkActive="active">Client</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/accueil']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-box-arrow-up-right"></i></a>
    </li>
   
   
</ul>