<ul class="nav nav-pills m-5">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-house"></i></a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/compte/admin']" routerLinkActive="active">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compte/employe']" routerLinkActive="active">Employe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compte/client']" routerLinkActive="active">Client</a>
    </li>
   
</ul>