<!-- <!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>

    <div class="style_zoo_projet_tableau_crud_container">
        <h2 class="style_zoo_projet_h2">Liste des interventions</h2>
        <div class="card-body">
            <table class="style_zoo_projet_tableau_crud">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Version</th>
                        <th>Date</th>
                   </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let inter of list()">
                        <td>{{inter.id}}</td>
                        <td>{{inter.version}}</td>
                        <td>{{inter.date}}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="style_zoo_projet_button" (click)="edit(inter.id)">Editer</a>
                                <a class="style_zoo_projet_button" (click)="remove(inter.id)">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
    
            </table>
        </div>
        <div class="card-footer">
            <a class="style_zoo_projet_button" (click)="add()">Ajouter une intervention</a>
        </div>
    </div>
    
    
    <div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
        <form (ngSubmit)="save()" [formGroup]="interventionForm">
            <h3 class="style_zoo_projet_h3">Edition d'une intervention</h3>
        <div class="card-body">
            <div class="form-group">
                <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
            </div>
            <div class="form-group">
                <label for="version">Version:</label> <input type="number" class="form-control" id="version" name="version" formControlName="version"/>
                 <span class="text-danger" *ngIf="interventionForm.get('version')?.dirty && interventionForm.get('version')?.hasError('required')">La version est obligatoire</span> 
            </div>
            <div class="form-group">
                <label for="date">Date:</label> <input type="text" class="form-control" id="date" name="date" formControlName="date"/>
                <span class="text-danger" *ngIf="interventionForm.get('date')?.dirty && interventionForm.get('date')?.hasError('required')">La date est obligatoire</span>
            </div>
           
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="submit" class="style_zoo_projet_button">Valider</button>
                <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
            </div>
           <div class="form-group">
                <label for="enclos">Enclos:</label> 
                <select class="form-control" id="enclos" name="enclos" formControlName="enclos">
                    ng<option *ngFor="let four of enclos$ | async" [value]="four.id">{{four.nom}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="employe">Employe:</label> 
                <select class="form-control" id="employe" name="employe" formControlName="employe">
                    <option *ngFor="let four of employes$ | async" [value]="four.id">{{four.nom}}</option>
                </select>
            </div> 
        </div>
        </form>
    </div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>-->
