<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

 <main>

    <!-- <div class="style_zoo_projet_tableau_crud_container">
        <h2 class="style_zoo_projet_h2">Liste des interventions</h2>
        <div class="card-body">
            <table class="style_zoo_projet_tableau_crud">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Date</th>
                        <th>Enclos</th>
                        <th>Employe</th>
                   </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let inter of list()">
                        <td>{{inter.id}}</td>
                        <td>{{inter.date}}</td>
                        <td>{{inter.enclos.id}}</td>
                        <td><span *ngFor="let emp of list2(inter)"><ul>{{emp.nom}}</ul></span></td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="style_zoo_projet_button" (click)="edit(inter.id)">Editer</a>
                                <a class="style_zoo_projet_button" (click)="remove(inter.id)">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
    
            </table>
        </div>
        <div class="card-footer">
            <a class="style_zoo_projet_button" (click)="add()">Ajouter une intervention</a>
        </div>
    </div>
    
    
    <div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
        <form (ngSubmit)="save()" [formGroup]="interventionForm">
            <h3 class="style_zoo_projet_h3">Edition d'une intervention</h3>
        <div class="card-body">
            <div class="form-group">
                <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
            </div>
           
            <div class="form-group">
                <label for="date">Date:</label> <input type="date" class="form-control" id="date" name="date" formControlName="date"/>
            </div>
           
            <div class="form-group">
                <label for="enclos">Enclos:</label> 
                <select class="form-control" id="enclos" name="enclos" formControlName="idEnclos">
                    <option>Selectionner un l'enclos</option>
                    <option *ngFor=" let enclos of list3() " [ngValue]="enclos.id">{{enclos.type}}</option> 
                </select>
            </div>
            <div class="form-group">
                <label for="employe">Nom employe:</label>
                <select class="form-control" id="nomEmploye" name="nomEmploye" formControlName="nomEmploye">
                    <option>Selectionner un l'employe</option>
                    <option *ngFor=" let emp of list4()" [ngValue]="emp.id">{{emp.nom}}</option> 
                </select>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group btn-group-lg float-right">
                <button type="submit" class="style_zoo_projet_button">Valider</button>
                <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
            </div>
        </div>
        </form>
    </div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>
