<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>
<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des interets</h2>
    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Enclos</th>
                    <th>Reservation</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let int of list()">
                    <td>{{int.id}}</td>
                    <td><span *ngFor=" let enc of int.enclos">{{enc?.id}}-{{enc?.type}}, </span></td>
                    <td>{{int.reservation?.id}}</td>
                    <td>
                        <div class="style_zoo_projet_button">
                            <a class="btn btn-primary" (click)="edit(int.id)">Editer</a>
                            <a class="style_zoo_projet_button" (click)="remove(int.id)">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="style_zoo_projet_button" (click)="add()">Ajouter un interet</a>
    </div>
</div>


<div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="interetForm">
        <h3 class="style_zoo_projet_h3">Edition d'un interet</h3>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
        </div>
        <div class="form-group" class="style_zoo_projet_formulaire_ajout">
            <label for="enclos">Enclos 1 :</label> 
            <select class="form-control" name="enclos" id="enclos" formControlName="enclos1">
                <option>Selectionner un enclos</option>
                <option *ngFor="let enc of encloss" [ngValue]="enc.id">{{enc?.id}} - {{enc?.type}}</option>
            </select>
            <label for="enclos">Enclos 2 :</label> 
            <select class="form-control" name="enclos" id="enclos" formControlName="enclos2">
                <option>Selectionner un enclos</option>
                <option *ngFor="let enc of encloss" [ngValue]="enc.id">{{enc?.id}} - {{enc?.type}}</option>
            </select>
            <label for="enclos">Enclos 3 :</label> 
            <select class="form-control" name="enclos" id="enclos" formControlName="enclos3">
                <option>Selectionner un enclos</option>
                <option *ngFor="let enc of encloss" [ngValue]="enc.id">{{enc?.id}} - {{enc?.type}}</option>
            </select>
            <label for="enclos">Enclos 4 :</label> 
            <select class="form-control" name="enclos" id="enclos" formControlName="enclos4">
                <option>Selectionner un enclos</option>
                <option *ngFor="let enc of encloss" [ngValue]="enc.id">{{enc?.id}} - {{enc?.type}}</option>
            </select>
            <label for="enclos">Enclos 5 :</label> 
            <select class="form-control" name="enclos" id="enclos" formControlName="enclos5">
                <option>Selectionner un enclos</option>
                <option *ngFor="let enc of encloss" [ngValue]="enc.id">{{enc?.id}} - {{enc?.type}}</option>
            </select>
            <!-- <span class="text-danger" *ngIf="fournisseurForm.get('nom')?.dirty && fournisseurForm.get('nom')?.hasError('required')">Le nom est obligatoire</span> -->
        </div>
        <div class="form-group">
            <label for="reservation">Reservation:</label> <input type="text" class="form-control" id="reservation" name="reservation" formControlName="reservation" readonly/>
        </div>
        
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <button type="submit" class="style_zoo_projet_button">Valider</button>
            <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
        </div>
    </div>
    </form>
    <form  [formGroup]="monInteretForm">
        <input type="number" name="" id="" formControlName="id" hidden>
        <input type="date" name="" id="" formControlName="enclos" hidden>
        <input type="date" name="" id="" formControlName="reservation" hidden>
        <!-- <input type="date" name="" id="" formControlName="version" hidden> -->
 
      </form>
</div>
</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>