
  <html> 
  <title>Nos Animaux</title>
  
  <body>
  <header>
    <div class="top">
      <a href="#"><img src="assets/img/icon_drapeau_francais.png" alt="icone de drapeau francais"></a>
      <a href="#"><img src="assets/img/icon_drapeau_anglais.png" alt="icone de drapeau anglais"></a>

    </div>
    <div class="topbar">
      <img src="assets/img/logo.png" alt="logo du site" class="logo">
      <nav>
        <ul class=listeMenu>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Plan du zoo</a></li>
          <li><a href="#">Nos Animaux</a></li>
          <li><a href="#">Logement</a></li>
          <li><a href="#">Boutique</a></li>
          <li><a href="#">Billeterie</a></li>
        </ul>
      </nav>
    </div>

  </header>

  <main>

    <div id="content" class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Perroquet.png" class="card-img-top" alt="perroquet">
            <div class="card-zommable">
              <h3 class="card-title">Coco</h3>
              <p class="card-text">Coco est une espèce exotique originaire d'Amérique du Sud, connue pour son plumage coloré et son intelligence. Cet oiseau de petite à moyenne taille possède un bec puissant et est capable d'imiter des sons et des mots. Il est menacé en raison de la déforestation et du commerce illégal.<br>Venez découvrir et admirer sa beauté, observer son comportement social et en apprendre davantage sur la nécessité de sa conservation....</p>
              <p>Poids : jusqu'à 4 Kg </p>
              <p>Espèce - Enclos : Perroquet - cage</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Pigeon.png" class="card-img-top" alt="pigeon">
            <div class="card-zommable">
              <h3 class="card-title" >Vaillant</h3>
              <p class="card-text">Vaillant est une variété de pigeon domestique reconnue pour sa beauté et son agilité en vol. Son plumage coloré, sa grâce en vol et ses performances acrobatiques en font un sujet d'admiration lors de compétitions sportives et de spectacles aériens. De plus, il est également apprécié pour sa présence dans les expositions avicoles en raison de sa beauté distinctive....</p>
              <p>Poids : 300-620 g</p>
              <p>Espèce - Enclos : Pigeon - Pigeonnier</p><br><br>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card" style="width: 25rem;margin-top:15px">
            <img src="assets/img/sundaColugo.png" class="card-img-top" alt="sundaColugo">
            <div class="card-body">
              <h3 class="card-title">sundaColugo</h3>
              <p class="card-text">Le Sundacolugo, ou colugo des îles de la Sonde, est un mammifère arboricole d'Asie du Sud-Est. Il se caractérise par sa fourrure douce, ses grands yeux et sa capacité unique de voler d'arbre en arbre grâce à une membrane de peau. Principalement nocturne, il se nourrit de feuilles, de fruits et de bourgeons. Ce colugo joue un rôle important dans les écosystèmes forestiers de la région en tant qu'espèce fascinante et peu connue.</p>
              <p>Poids : 1.5 Kg</p>
              <p>Espèce - Enclos : sundaColugo - Forêt</p><br><br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card" style="width: 25rem;margin-top:15px">
            <img src="assets/img/sundaColugo.png" class="card-img-top" alt="sundaColugo">
            <div class="card-body">
              <h3 class="card-title" >Bec de Canard</h3>
              <p class="card-text">Bec de canard est un mammifère extraordinaire originaire d'Australie. Il se distingue par son apparence unique, avec un corps couvert de fourrure, un bec ressemblant à celui d'un canard et des pattes palmées pour une vie semi-aquatique. Les mâles ont des éperons venimeux. L'ornithorynque utilise l'électrolocalisation pour détecter ses proies sous l'eau. Cet animal emblématique de l'Australie fascine les biologistes et les amateurs de faune en raison de ses caractéristiques et comportements singuliers.</p>
              <p>Poids : 2 Kg</p>
              <p>Espèce - Enclos : Ornithorynque - Bassin</p><br><br>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Lion d'Afrique.jpg" class="card-img-top" alt="lion">
            <div class="card-body">
              <h3 class="card-title" >Simba</h3>
              <p class="card-text">Simba est un grand félin majestueux, reconnaissable par sa crinière (chez les mâles) et son pelage jaune-doré. Il est réputé pour sa force, son agilité et son rugissement puissant. Ces félins sociaux vivent en groupes appelés "fiertés" en Afrique subsaharienne, où ils chassent une variété de proies. Le lion est un symbole de la faune africaine, associé à la majesté et à la puissance, et est largement admiré à travers le monde.</p>
              <p>Poids : 160 Kg</p>
              <p>Espèce - Enclos : Lion - savane</p><br><br>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer>
    <ul class="listeFooter">
      <li><a href="#">Plan du site</a></li>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Politique de confidentialité</a></li>
      <li><a href="#">Cookies</a></li>
    </ul>
  </footer>
</body>
</html>

