<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Nos Animaux</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
  
  <body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

  <main>

    <div id="content" class="container-fluid">
      <div class="row1">
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Perroquet.png" class="card-img-top" alt="perroquet">
            <div class="card-zommable">
              <h3 class="card-title">Coco</h3>
              <p class="card-text">Coco est un oiseau exotique d'Amérique du Sud, célèbre pour son plumage coloré et son intelligence. Malgré sa petite à moyenne taille, il possède un bec puissant et peut imiter des sons et des mots. Malheureusement, Coco est en danger en raison de la déforestation et du commerce illégal.<br> Venez le découvrir, admirez sa beauté, observez son comportement social et apprenez pourquoi il est essentiel de le préserver....</p>
              <p>Poids : jusqu'à 4 Kg </p>
              <p>Espèce - Enclos : Perroquet - Volière</p><br><br>
            </div>
          </div>
        </div>
        
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/saumon.PNG" class="card-img-top" alt="saumon">
            <div class="card-zommable">
              <h3 class="card-title" >Salmo</h3>
              <p class="card-text">Salmo est un poisson emblématique apprécié pour sa chair nutritive et sa capacité à accomplir d'incroyables migrations depuis la mer vers les rivières pour la reproduction. Ces poissons fuselés jouent un rôle essentiel dans les écosystèmes aquatiques en transportant des nutriments et en servant de proie à de nombreuses espèces.  Ils sont également des symboles de persévérance et de cycle de la vie dans la nature, avec une signification culturelle profonde...</p>
              <p>Poids : 4.5 Kg</p>
              <p>Espèce - Enclos : Saumon - Aquarium</p><br><br>
            </div>
          </div>
        </div>
        
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Lion.jpg" class="card-img-top" alt="lion">
            <div class="card-zommable">
              <h3 class="card-title" >Simba</h3>
              <p class="card-text">Simba est un grand félin majestueux, reconnaissable par sa crinière (chez les mâles) et son pelage jaune-doré. Il est réputé pour sa force, son agilité et son rugissement puissant. Ces félins sociaux vivent en groupes appelés "fiertés" en Afrique subsaharienne, où ils chassent une variété de proies. Le lion est un symbole de la faune africaine, associé à la majesté et à la puissance, et est largement admiré à travers le monde.</p>
              <p>Poids : 160 Kg</p>
              <p>Espèce - Enclos : Lion - savane</p><br><br>
            </div>
          </div>
        </div>
      </div>
        
      <div class="row2">
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Pigeon.png" class="card-img-top" alt="pigeon">
            <div class="card-zommable">
              <h3 class="card-title" >Vaillant</h3>
              <p class="card-text">Vaillant est une variété de pigeon domestique, admiré pour sa beauté et son agilité en vol. Son plumage coloré et ses performances acrobatiques en font une vedette des compétitions sportives et des spectacles aériens. Apprécié également pour sa présence dans les expositions avicoles en raison de sa beauté distinctive...</p>
              <p>Poids : 300-620 g</p>
              <p>Espèce - Enclos : Pigeon - Volière</p><br><br>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/otarieWatson.jpg" class="card-img-top" alt="otarie">
            <div class="card-zommable">
              <h3 class="card-title" >Watson</h3>
              <p class="card-text">Watson est notre otarie charismatique qui évolue dans un environnement aquatique spécialement conçu dans notre zoo. Avec son pelage luisant et sa grâce dans l'eau, Watson captive les visiteurs par sa présence charmante. Ces mammifères marins sont connus pour leurs acrobaties aquatiques et leurs plongées gracieuses.<br> Venez assister à leurs performances fascinantes dans leur bassin dédié et découvrez le monde merveilleux des otaries grâce à Watson et ses compagnons...</p>
              <p>Poids : 80 Kg</p>
              <p>Espèce - Enclos : Otarie - Bassin</p><br><br>
            </div>
          </div>
        </div>
  

        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Cerf-souris.jpg" class="card-img-top" alt="cerfe-souris">
            <div class="card-zommable">
              <h3 class="card-title" >Bambi</h3>
              <p class="card-text">Bambi, également connu sous le nom de cerf-souris, est une petite créature nocturne qui habite notre zone forestière au zoo. Avec ses ailes membranaires, il peut voler habilement la nuit. Malgré sa taille modeste, Bambi joue un rôle essentiel dans l'écosystème forestier en se nourrissant d'insectes et en aidant à la pollinisation des plantes.<br> Venez découvrir cette espèce fascinante et apprécier la vie nocturne de la forêt grâce à Bambi...</p>
              <p>Poids : 10 Kg</p>
              <p>Espèce - Enclos : Cerf-souris - Forêt</p><br><br>
            </div>
          </div>
        </div>
      </div>

      <div class="row3">
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/Ornithorynque.jpg" class="card-img-top" alt="ornithorynque">
            <div class="card-zommable">
              <h3 class="card-title" >Bec de Canard</h3>
              <p class="card-text">Bec de canard est un mammifère extraordinaire originaire d'Australie. Il se distingue par son apparence unique, avec un corps couvert de fourrure, un bec ressemblant à celui d'un canard et des pattes palmées pour une vie semi-aquatique. Les mâles ont des éperons venimeux. L'ornithorynque utilise l'électrolocalisation pour détecter ses proies sous l'eau. Cet animal emblématique de l'Australie fascine les biologistes et les amateurs de faune en raison de ses caractéristiques et comportements singuliers.</p>
              <p>Poids : 2 Kg</p>
              <p>Espèce - Enclos : Ornithorynque - Bassin</p><br><br>
            </div>
          </div>
        </div>
      
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/sundaColugo.png" class="card-img-top" alt="sundaColugo">
            <div class="card-zommable">
              <h3 class="card-title">sundaColugo</h3>
              <p class="card-text"> Le Sundacolugo, ou colugo des îles de la Sonde, est un mammifère arboricole d'Asie du Sud-Est. Il se distingue par sa fourrure douce, ses grands yeux et sa capacité unique de voler d'arbre en arbre grâce à une membrane de peau. Principalement nocturne, il se nourrit de feuilles, de fruits et de bourgeons, jouant un rôle essentiel dans les écosystèmes forestiers de la région...</p>
              <p>Poids : 1.5 Kg</p>
              <p>Espèce - Enclos : sundaColugo - Forêt</p><br><br>
            </div>
          </div>
        </div>
      
        <div class="col-12">
          <div class="card-test" style="width: 25rem;margin-top:15px">
            <img src="assets/img/gorille.jpg" class="card-img-top" alt="gorille">
            <div class="card-zommable">
              <h3 class="card-title" >Titus</h3>
              <p class="card-text">Titus est un gorille majestueux résidant dans notre zoo. Avec son pelage dense et son comportement impressionnant, il incarne la splendeur de la faune de la jungle. Ce grand primate est célèbre pour sa force, son agilité et son rôle de chef dans son groupe social appelé une "fierté".<br> Venez observer Titus dans son habitat naturel recréé au cœur de la jungle de notre zoo et découvrez la magnificence de la vie sauvage...</p>
              <p>Poids : 250 Kg</p>
              <p>Espèce - Enclos : Gorille - Jungle</p><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <footer-utilisateur></footer-utilisateur> 
  </footer>
</body>
</html>

