<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>
<div class="map-container">
  <img src="/assets/img/zoo-map.png" alt="Zoo Map" id="zoo-map">
  <svg id="path-overlay" #pathOverlay></svg>
</div>
</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>