<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Knewave&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav-bar-utilisateur></nav-bar-utilisateur>
  </header>

<main>
<div class="style_zoo_projet_tableau_crud_container">
    <h2 class="style_zoo_projet_h2">Liste des animaux</h2>
    <div class="card-body">
        <table class="style_zoo_projet_tableau_crud">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Poids</th>
                    <th>Espece</th>
                    <th>Enclos</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let anim of list()">
                    <td>{{anim.id}}</td>
                    <td>{{anim.nom}}</td>
                    <td>{{anim.poids}}</td>
                    <td>{{anim.espece?.nom }}</td>
                    <td>{{anim.enclos?.id }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="style_zoo_projet_button" (click)="edit(anim.id)">Editer</a>
                            <a class="style_zoo_projet_button" (click)="remove(anim.id)">Supprimer</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="style_zoo_projet_button" (click)="add()">Ajouter un animal</a>
    </div>
</div>

<div class="style_zoo_projet_formulaire_ajout" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup] ="animalForm">
    <input type="hiden" class="style_zoo_projet_input_hidden" id="id" name="id" readonly formControlName="id"/>
    <h3 class="style_zoo_projet_h3">Edition d'un animal</h3>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" formControlName="nom"/>
        </div>
        <div class="form-group">
            <label for="poids">Poids:</label> <input type="number" class="form-control" id="poids" name="poids" formControlName="poids"/>
        </div>
        <div class="form-group">
            <label for="espece">Espece:</label> 
            <select  class="form-control" id="idEspece" name="idEspece" formControlName="idEspece">
                <option *ngFor=" let espece of listEspece()" [ngValue]="espece.id" >{{espece.nom}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="idEnclos">Enclos:</label> 
            <input type="number" class="form-control" id="idEnclos" name="idEnclos" formControlName="idEnclos"/>     
        </div>
    
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="style_zoo_projet_button" (click)="save()">Valider</a>
            <a class="style_zoo_projet_button" (click)="cancel()">Annuler</a>
        </div>
    </div>
    </div>
    </form> 
</div>

</main>
<footer>
    <footer-utilisateur></footer-utilisateur>
</footer>
</body>
</html>